.wrapper {
  align-items: center;
  display: flex;
  height: 90%;
  justify-content: center;
  margin: 5%;
  width: 90%;
}
.aspect {
  padding-bottom: 70%;
  position: relative;
  width: 100%;
}
.aspect-inner {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

/* body { */
  /* background: #ccc; */
/* } */
/*  */
/* #flipbook { */
  /* width: 1380px; */
  /* height: 973px; */
  /* margin: 0 auto; */
/* } */
/*  */
/* #flipbook .turn-page { */
  /* background-color: white; */
/* } */
/*  */
/* #flipbook .cover { */
  /* background: #333; */
/* } */
/*  */
/* #flipbook .cover h1 { */
  /* color: white; */
  /* text-align: center; */
  /* font-size: 14px; */
  /* line-height: 500px; */
  /* margin: 0px; */
/* } */
/*  */
/* #flipbook .loader { */
  /* background-image: url(loader.gif); */
  /* width: 24px; */
  /* height: 24px; */
  /* display: block; */
  /* position: absolute; */
  /* top: 238px; */
  /* left: 188px; */
/* } */
/*  */
/* #flipbook .data { */
  /* text-align: center; */
  /* font-size: 40px; */
  /* color: #999; */
  /* line-height: 500px; */
/* } */
/*  */
/* #controls { */
  /* width: 800px; */
  /* text-align: center; */
  /* margin: 20px 0px; */
  /* font: 30px arial; */
/* } */
/*  */
/* #controls input, */
/* #controls label { */
  /* font: 30px arial; */
/* } */
/*  */
/* #flipbook .odd { */
  /* background-image: -webkit-linear-gradient(left, #fff 95%, #ddd 100%); */
  /* background-image: -moz-linear-gradient(left, #fff 95%, #ddd 100%); */
  /* background-image: -o-linear-gradient(left, #fff 95%, #ddd 100%); */
  /* background-image: -ms-linear-gradient(left, #fff 95%, #ddd 100%); */
/* } */
/*  */
/* #flipbook .even { */
  /* background-image: -webkit-linear-gradient(right, #fff 95%, #ddd 100%); */
  /* background-image: -moz-linear-gradient(right, #fff 95%, #ddd 100%); */
  /* background-image: -o-linear-gradient(right, #fff 95%, #ddd 100%); */
  /* background-image: -ms-linear-gradient(right, #fff 95%, #ddd 100%); */
/* } */
